.cards-container-wrapper {
  max-width: 90rem;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  .category-name {
    margin-top: 0;
    padding-top: 50px;
    text-transform: capitalize;
    padding-left: 75px;
    font-weight: 400;
    font-size: 42px;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 26.12rem);
  grid-gap: 50px 80px;

}

.product-card {
  font-size: 18px;
  width: 24rem;
  //min-height: 26rem;
  margin: 10px 10px 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    cursor: pointer;
  }
  &:hover .addToCartBtn{
    display: inline-block;
  }
  .product-name-price {
    margin-top: auto;
  }
  h4 {
    margin-bottom: 10px;
    margin-left: 9px;
  }
  p {
    margin-top: 0;
    margin-left: 9px;
    margin-bottom: 30px;
  }
  .img-container {
    margin: auto 8px;
    position: relative;
    text-align: center;

  }
  img {
    //height: 35rem;
    //height: 100%;
    margin-top: 8px;
    width: 15rem;
    object-fit: cover;
    object-position: 50% 10%;
  }
  .addToCartBtn {
    display: none;
    position: absolute;
    padding: 0;
    border: none;
    background: none;
    bottom: -22px;
    right: 10px;
    cursor: pointer;
    img {
      width: 52px;
      height: 52px;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.out-of-stock-product {
  position: relative;
  opacity: 0.5;
}

.out-of-stock-text {
  margin: 0;
  opacity: 1;
  z-index: 1;
  position: absolute;
  top: 180px;
  left: 110px;
  font-size: 24px;
}