.header-block {
  display: flex;
  max-width: 90rem;
  margin: 0 auto;
}

.categories-list {
    a{
    text-transform: uppercase;
  }
}

.logo {
  width: 31px;
  height: 31px;
  margin: 25px 0 0 27%;
  transform: translateX(-50%);
}

.pages-list ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 28px 0 32px;
  margin: 0 0 0 5.93rem;
  li {
    box-sizing: border-box;
    text-align: center;
  }
}

.pages-list a.active {
  font-weight: 600;
  color: #5ECE7B;
  padding-bottom: 50px;
}

.pages-list a.active:before {
  content: '';
  position: absolute;
  width: 150%;
  left: -24%;
  height: 2.3px;
  background: #5ECE7B;
  top: 51px;
  bottom: 0;
  transition: .5s;
}

.pages-list a {
  position: relative;
  text-decoration: none;
  display: block;
  margin-right: 32px;
  color: #000000;
}

.cart-block {
  margin-left: auto;
  position: relative;
  margin-top: 30px;
  margin-right: 42px;
  .currency-symbol {
    display: inline-block;
    padding-bottom: 7px;
  }
}

.cart-btn {
  margin-bottom: -15px;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  .cart-img {
    position: absolute;
    top: 5px;
    width: 20px;
    height: 18px;
  }
  .cart-img-hat {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #000000;
    border-radius: 50%;
    color: #FFFFFF;
    top: -10px;
    right: -25px;
    p {
      margin: 4px 0 0;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
    }
  }
}

.currency-symbol {
  font-size: 18px;
  width: 10px;
}

.vector-btn {
  margin-right: 10px;
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
}